* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
}

.dark {
  background: linear-gradient(-30deg, #1d1a19 0px, #282322 100%);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dark>div {
  display: flex;
}

.white {
  background: white;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dark>div {
  display: flex;
}